<h1><i class="icon-group"></i>   All Users</h1>
<hr>
  <% @user.each do |user| %>
    
      <img src= <%=user.image %>  />    <i class="icon-user"></i>
      <%= link_to user.name, user %>
       <%= user.location %>
      <hr>
      <% end %>
