<h1>All Users</h1>
<hr>
  <% @user.each do |user| %>
    
      <img class="smallround" src="<%= user.image %>">&nbsp;&nbsp;
      <%= link_to user.name, user %>&nbsp;&nbsp;
       <%= user.location %>
      <hr>
      <% end %>
