<h1>About FontRiot</h1>
<p>Thanks for checking out FontRiot. The idea of this is Rails 4 app is to create a user-generated catalog of different Google Font combinations. If you were building a site for a client, you could have them come here and pick their favorite font combinations.</p>

<p>The Font model belongs_to the Users model- Users must create an account to submit or vote on Fonts, and I am using the Rails 4 fork of Can Can to restrict Users from editing any Fonts that do not belong to them. The syntax highlighting is accomplished with the Pygments gem. Authentication is accomplished via Twitter-Oauth, and I hand rolled the User show page and User index pages. Images are uploaded to S3 with Paperclip, and the app itself is hosted at Heroku.</p> 
