
        </div>
        <!-- All page content musr remain within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">

            <div class="col-md-12">
              <h1>Components ~ Social Font and Code Snippet Discovery.</h1>
            </div>
            <div class="col-md-9">  
<%= pie_chart [["Bootstrap 2", 3], ["Bootstrap 3", 7],["Foundation", 5]], :library => {:colors => ['#4e0707', '#202c4c', '#4d4d4d']} %>
            </div>
            <div class= "col-md-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <!-- <div class="col-md-3">
              <p class="well">The template still uses the default Bootstrap rows and columns.</p>
            </div>
            <div class="col-md-6">
              <p class="well">But the full-width layout means that you wont be using containers.</p>
            </div>
            <div class="col-md-4">
              <p class="well">Three Column Example</p>
            </div>
            <div class="col-md-4">
              <p class="well">Three Column Example</p>
            </div>
            <div class="col-md-4">
              <p class="well">You get the idea! Do whatever you want in the page content area!</p>
              <p>Components</p>
            </div> -->
          </div>
        </div>
      


 
