.round {
display: inline-block;
position: relative;
overflow: hidden;
width: 300px;
height: 300px;
-moz-border-radius: 300px;
border-radius: 300px;
-webkit-border-radius: 300px;
}

.smallround {
display: inline-block;
position: relative;
overflow: hidden;
width: 45px;
height: 45px;
-moz-border-radius: 45px;
border-radius: 45px;
-webkit-border-radius: 45px;
}


h1, h2, h3 {
    font-family: 'Medula One', cursive;
    font-weight: normal;
    line-height: 46px;
    font-size: 52px;
    margin: 0 0 23px 0;
    margin-top: 0px;
    color: #404c81;
    }
p, b, ol, ul, td,  {
    font-family: 'Abel', sans-serif;
    font-size: 17px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #202c4c;
  text-decoration: bold;
  &:visited {
    color: #202c4c;

  }
  &:hover {
    color: #4e0707;
    background-color: #fff;
  }
}

body {
  color: #8D8D8D;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
