
    <% @fonts.each do |font| %>
      <article>
        <h2><%= link_to(font.fontnames, font_path(font)) %>

        <p><%= font.description %></p>
        <div>
        <p>Submitted by~ <img src = <%= font.user.image.sub("_normal", "_mini") %> /> <%= link_to font.user.name, user_path(font.user) %></p>
        </div>
        <hr>
        </article>   
    <% end %>
