<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="#"><i class="icon-code"></i>COMPONENTS</a></li>
    <li><a href="#">Fonts</a></li>
    <li><a href="#">Foundation 4</a></li>
    <li><a href="#">Bootstrap 2</a></li>
    <li><a href="#">Bootstrap 3</a></li>
    <li><a href="#">Submit</a></li>          
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
    <!-- <br>
    <li><a href="#">Sign Out <i class="icon-twitter"></i></a></li> -->
    <br>
    <li><%= link_to "Sign In", "/auth/twitter" %> 
    <br>
    <li><img src="https://si0.twimg.com/profile_images/3426317356/8a360ea75de099be219200527fc46fbc_normal.jpeg" alt="JesseWaites" title="JesseWaites"  />    <i class="icon-lock"></i></li> 
  </ul>  
</div>
<a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
      
        <!-- All page content musr remain within the page-content inset div! -->
        <div class="page-content inset">      